<nav class="navbar navbar-expand shadow-sm" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <h5 class="fw-bold"><i class= "bi bi-bag-heart-fill p-2"></i>Shopping Website</h5>
        <form class="d-flex">
        <a button type="button" class="btn btn btn-outline-secondary me-2" href="/login"><i class="bi bi-box-arrow-in-right p-2"></i>Login</button></a>
        <a button type="button" class="btn btn btn-outline-secondary" href="/signup"><i class="bi bi-person-fill">Sign Up</button></i></a> 
        </form>
      </div>
</nav>

<div class="container text-center">
    <h2 class = "fw-bold">Welcome to Online Shopping Website</h2>
    <div class="grid">
        <img src = "/images/img.jpg" alt = "" style="width:60%;">
    </div>
</div>

<hr>
<footer class="container-fluid bg -light">
    <div class="row">
        <div class="col">
            <h5 class= "fw-bold">Thank You</h5>
        </div>
        <div class="col text-end">
            <i class="bi bi-facebook p-2"></i>
            <i class="bi bi-instagram p-2"></i>
            <i class="bi bi-twitter p-2"></i>
        </div>
    </div> 
</footer>