<div class="container">
<div class="row">
        <div class="col">
        <strong>Name:</strong><%= @products.name %>
        </div>

        <div class="col">
        <%= image_tag(@products.image.url, style: 'height:250px;width:auto;')%> 
        </div>

        <div class="col">
        <strong>price:</strong><%= @products.price%>
        </div>

        <div class="col">
        <strong>quantity:</strong><%= @products.quantity%>
        </div>

        <a href="/products">back_to_products</a> 
  </div>
</div>
